/* .service{
    width: 840px;
    height: 450px;
} */

/* .service img{
    width: 600px;
    height: 450px;
    margin: 50px;
    margin-bottom: 0;
} */

/* .ser-info{
    display: flex;
    align-items: center;
} */

/* .ser-info img{
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 60px;   
    margin-bottom: 0;
}
.ser-info h4, h5{
    margin-left: 50px;
} */